@import url("https://fonts.cdnfonts.com/css/oak-sans");

html,
body {
  font-family: "Oak Sans", sans-serif;
}

body {
  min-height: 100vh;
  background-image: url("../img/grey.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card {
  border-radius: 1rem;
}
.card > .card-img-top {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

/* loader */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  --c: no-repeat radial-gradient(farthest-side, #25b09b 92%, #0000);
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 12px 12px;
  animation: l12 1s infinite;
}
.loader::before {
  margin: 4px;
  filter: hue-rotate(45deg);
  background-size: 8px 8px;
  animation-timing-function: linear;
}

@keyframes l12 {
  100% {
    transform: rotate(0.5turn);
  }
}
